* {
  font-family: "Poppins", sans-serif;
  --purple: rgb(122, 0, 255);
  --teal: rgb(9, 121, 115);
  --aqua: rgb(0, 212, 255);
  --off-white: rgb(226, 235, 251);
}

body {
  text-align: center;
  margin: 0;
  color: var(--off-white);
  line-height: 1.5;
  font-size: 16px;
  font-weight: 700;
  background-color: #111527;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

main {
  flex-grow: 2;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: inherit;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer {
  font-size: 10px;
  font-weight: normal;
  margin: 10px;
}

.hidden {
  display: none;
}
