// External libraries
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "general-style";
@import "fonts";

#home form {
  margin: 4rem 0;
}

.jobs {
  display: grid;
  grid-template-columns: repeat(3, [col-start] 1fr);
  gap: 6rem;
}

.job {
  background-color: var(--off-white);
  color: #111527;
  padding: 1rem;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.job-description {
  font-size: 8px;
}

.cover-letter {
  padding: 1rem;
  font-size: 14px;
  text-align: left; 
  white-space: pre-wrap;
}
